/* General */
* {
  box-sizing: border-box;
}
  
html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: max-content;
  background: #F4F4F4;
}

.body-container {
  width: 100%;
  height: max-content;
  position: relative;
  color: #333333;
}

div > a {
  text-decoration: none;
  color:#333333;
}

button {
  background: transparent;
  border: 2px solid #E74C3C;
}

.card-body {
  width: 100%;
  height: auto;
}

img {
  width: 100%;
}

ul > li {
  list-style: none;
  padding: 10px;
}
 
/* Header & Navigation*/
.card-header {
  width: 100%;
}

nav {
  background: transparent;
}

.navbar-logo:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.30));
  zoom: 1.1;
}

.nav-link:hover {
  border-bottom: #E74C3C 5px solid;
}

/* Search bar */
.search {
  width: max-content;
  margin-bottom: 15px;
  margin-top: 10px;
  height: 40px;
  background-color: #fff;
  color:#333333;
  padding: 10px;
  border-radius: 5px;
}

.search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-bottom: 5px;
  caret-color: transparent;
  line-height: 20px;
  transition: width 0.4s linear;
}

.search .search-input {
  padding: 0 5px;
  width: 100%;
  caret-color: #E74C3C;
  font-size: 16.5px;
  font-weight: 300;
  font-style: italic;
  color: #333333;
  transition: width 0.4s linear;
}

.search-icon {
  height: 28px;
  width: 28px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  bottom: 30px;
  position: relative;
  border-radius: 5px;
}

.search-icon:hover{
  color: #fff !important;
}


/* Banner */
<<<<<<< Updated upstream
.banner-box {
  background-image: url("./img/contact-banner.jpg");
  background-color: rgba(51, 51, 51, 0.2);
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  mix-blend-mode: multiply;
  filter: brightness(0.9);
}

.banner-text {
  display: inline-block;
  width: 30%;
  padding: 20px;
  text-align: justify;
}

.banner-text h3 {
  color: #f4f4f4;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
}

.banner-text p {
  color: #f4f4f4;
  font-size: 1rem;
  font-weight: 350;
  margin-top: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
}

.btn-primary {
  background-color: #E74C3C;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 20px;
}

.btn-primary:hover {
  background: #fc0101;
  font-weight: bold;
  border:#F4F4F4 1px solid;
  cursor: pointer;
}
  
/* Call to Action */


.cta-col {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px;
  border: #333333 1px solid;
  mix-blend-mode: plus-darker;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.cta-col:hover {
  background: #E74C3C;
  border: #E74C3C 1px solid;
  filter: drop-shadow(0px 4px 4px #333333);
  cursor: pointer;
}

div > h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 39px;
  color: #333333;
  text-align: center;
  padding-top: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cta-col:hover h1 {
  color: #f4f4f4;
}

.cta-icon:hover {
  color: #f4f4f4;
  filter: drop-shadow(0px 4px 4px rgb(0, 0, 0));
}

/* Footer */
.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px auto;
  background: #333333;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 30px;
}

footer a {
  color: #f4f4f4;
  text-decoration: none;
}

.footer-icon {
  width: 30px;
  height: auto;
  padding: 0;
}

footer h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 122%;
  color: #E74C3C;
}

.footer-text {
  font-weight: 400;
  font-size: 14.5px;
  line-height: 24px; /* or 166% */
  color: #F4F4F4;
  padding: 10px;
}

footer a:hover {
  text-decoration: underline;
}

footer img {
  width: 30px;
  height: auto;
}

.copyright {
  color: #F4F4F4;
  font-size: 14.5px;
  text-align: left;
  border-top: 1px solid #F4F4F4;
  margin-top: 20px;
  margin-left: -30px;
}

/* Product List */
.product-container {
  position: relative;
  background-color: #ffffff;
  width: 1338px;
  height: 100%;
  padding: 20px;
  margin-left: 10px;
}

.divider {
  width: 25%;
  margin-bottom: 30px;
  margin-left: 3px;
}

.text-box > h2 {
  color: #333333;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding-top: 20px;
}

.text-box > h3 {
  color:#E74C3C;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin-left: -8px;
  margin-top: 20px;
  margin-bottom: -3px;
}

.text-box > h6 {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin-left: -5px;
}

.text-box > p {
  font-size: 16px;
  line-height: 22px;
  margin-left: -5px;
  margin-bottom: 70px;
}


/* Media Queries */
@media screen and (max-width: 576px) {
  footer-container {
    flex-direction: column;
    margin: auto;
  }
}

/*
.newcar-box {
  text-align: center;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
}
.newcar-img {
  flex: 1;
  order: 2;
}
.newcar-img-ver {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}
.img-1 {
  flex-basis: 50%;
}
.newcar-text {
  flex: 1;
  padding: 30px;
  text-align: justify;
  align-items: center;
  order: 1;
}
@media (max-width: 576px) {
  .newcar-container {
    display: flex;
    flex-direction: column;
  }}*/

@media (max-width: 768px) {
  .banner-container {
    max-width: 100%;
    /*display: block;
    width: 100%;
    height: auto;*/
  }
}
.newcar-box {
  display: flex; /* Bật chế độ flex */
  /*align-items: center; /* Căn giữa các items theo chiều dọc */
  justify-content: space-between; /* Phân bổ không gian đều giữa các items */
  background-color: white;
  padding: 20px;
  max-width: 100%;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flex-item {
  flex: 1; /* Các items sẽ chia đều không gian */
  padding: 10px; /* Thêm padding nếu cần */
}

.flex-item img {
  max-width: 100%; /* Đảm bảo ảnh không vượt quá kích thước của flex-item */
  height: auto; /* Giữ nguyên tỉ lệ của ảnh */
}

