* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
.full-page {
  background-color: #f4f4f4;
}
/* header-container */
.header-container {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color: #f4f4f4;
  margin: 0 auto;
  padding-right: 20px;
}
.logo-container {
  flex: 1;
  width: 30px;
  margin-left: 100px;
}
.logo-container > img {
  width: 150px;
}
.nav-container {
  flex: 3;
  margin: auto;
}
.nav-item {
  padding: 20px;
}
.search {
  width: auto;
  height: 40px;
  background-color: #fff;
  color: #333333;
  display: inline;
  border-radius: 10px;
  position: relative;
}
input {
  font-size: 18px;
  padding: 5px;
}

.search-icon {
  position: absolute;
  right: 0;
  margin-top: 7px;
}
.search-icon > img {
  width: 25px;
}

.search-icon:hover {
  color: #333333 !important;
}
/* banner */
.banner-container {
  background-image: url("./img/banner-products.png");
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
}
.banner-text {
  display: inline-block;
  color: #eff0f2;
  width: 30%;
  padding: 20px;
  text-align: justify;
}

.banner-text > h3 {
  color: #f4f4f4;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.banner-text p {
  color: #f4f4f4;
  font-size: 1rem;
  font-weight: 350;
  margin-top: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
/* body-container */
.header-container {
  color: #333333;
  font-size: 48px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  justify-items: center;
}
@media screen and (max-width: 576px) {
  .home-nav {
    opacity: 1;
  }
}
.body-container {
  width: 100%;
  height: max-content;
  position: relative;
  color: #333333;
}

div > a {
  text-decoration: none;
  color: #333333;
}

button {
  background: transparent;
  border: 2px solid #e74c3c;
}

.card-body {
  width: 100%;
  height: auto;
}

img {
  width: 100%;
}

ul > li {
  list-style: none;
  padding: 10px;
}

/* Header & Navigation*/
.card-header {
  width: 100%;
}

nav {
  background: transparent;
}

.navbar-logo:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
  zoom: 1.1;
}

.nav-link:hover {
  border-bottom: #e74c3c 5px solid;
}

/* Search bar */

/* Banner */

.btn-primary {
  background-color: #e74c3c;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-primary:hover {
  background: #fc0101;
  font-weight: bold;
  border: #f4f4f4 1px solid;
  cursor: pointer;
}

/* Call to Action */

.cta-col {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px;
  border: #333333 1px solid;
  mix-blend-mode: plus-darker;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}
.cta-col:hover {
  background: #e74c3c;
  border: #e74c3c 1px solid;
  filter: drop-shadow(0px 4px 4px #333333);
  cursor: pointer;
}

div > h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 39px;
  color: #333333;
  text-align: center;
  padding-top: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cta-col:hover h1 {
  color: #f4f4f4;
}

.cta-icon:hover {
  color: #f4f4f4;
  filter: drop-shadow(0px 4px 4px rgb(0, 0, 0));
}

/* Footer */
.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px auto;
  background: #333333;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 30px;
}

footer a {
  color: #f4f4f4;
  text-decoration: none;
}

.footer-icon {
  width: 30px;
  height: auto;
  padding: 0;
}

footer h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 122%;
  color: #e74c3c;
}

.footer-text {
  font-weight: 400;
  font-size: 14.5px;
  line-height: 24px; /* or 166% */
  color: #f4f4f4;
  padding: 10px;
}

footer a:hover {
  text-decoration: underline;
}

footer img {
  width: 30px;
  height: auto;
}

.copyright {
  color: #f4f4f4;
  font-size: 14.5px;
  text-align: left;
  border-top: 1px solid #f4f4f4;
  margin-top: 20px;
  margin-left: -30px;
}

/* Media Queries */
@media screen and (max-width: 576px) {
  footer-container {
    flex-direction: column;
    margin: auto;
  }
}
/* footer container */
.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px auto;
  margin: auto;
}
.footer-icon {
  width: 20px;
  padding: 0;
}
.footer-text {
  padding: 10px;
  text-decoration: none;
  color: #f4f4f4;
}
div > h5 {
  color: #dd0b0b;
}
@media screen and (max-width: 576px) {
  footer-container {
    flex-direction: column;
    margin: auto;
  }
}
